/* ---------------------------------- *\
            Colors
\* ---------------------------------- */

:root {
  // Main colors
  --lfx-color-transparent: transparent;
  --lfx-color-white: #fff;
  --lfx-color-black: #000000;

  // Base
  --lfx-color-text: #000000;
  --lfx-color-background: #F9FAFB;

  // Brand
  --lfx-color-brand-900: #000816;
  --lfx-color-brand-800: #002648;
  --lfx-color-brand-700: #004880;
  --lfx-color-brand-600: #006DBE;
  --lfx-color-brand-500: #0094FF;
  --lfx-color-brand-400: #54ABFF;
  --lfx-color-brand-300: #83C1FF;
  --lfx-color-brand-200: #ADD6FF;
  --lfx-color-brand-100: #D6EBFF;
  --lfx-color-brand-50: #EBF5FF;

  // Neutral
  --lfx-color-neutral-900: #0F172A;
  --lfx-color-neutral-800: #0F172A;
  --lfx-color-neutral-700: #334155;
  --lfx-color-neutral-600: #475569;
  --lfx-color-neutral-500: #64748B;
  --lfx-color-neutral-400: #94A3B8;
  --lfx-color-neutral-300: #CBD5E1;
  --lfx-color-neutral-200: #E2E8F0;
  --lfx-color-neutral-100: #F1F5F9;
  --lfx-color-neutral-50: #F8FAFC;

  // Positive
  --lfx-color-positive-900: #064E3B;
  --lfx-color-positive-800: #065F46;
  --lfx-color-positive-700: #047857;
  --lfx-color-positive-600: #059669;
  --lfx-color-positive-500: #10B981;
  --lfx-color-positive-400: #34D399;
  --lfx-color-positive-300: #6EE7B7;
  --lfx-color-positive-200: #A7F3D0;
  --lfx-color-positive-100: #D1FAE5;
  --lfx-color-positive-50: #ECFDF5;

  // Negative
  --lfx-color-negative-900: #7F1D1D;
  --lfx-color-negative-800: #991B1B;
  --lfx-color-negative-700: #B91C1C;
  --lfx-color-negative-600: #DC2626;
  --lfx-color-negative-500: #EF4444;
  --lfx-color-negative-400: #F87171;
  --lfx-color-negative-300: #FCA5A5;
  --lfx-color-negative-200: #FECACA;
  --lfx-color-negative-100: #FEE2E2;
  --lfx-color-negative-50: #FEF2F2;

  // Warning
  --lfx-color-warning-900: #78350F;
  --lfx-color-warning-800: #92400E;
  --lfx-color-warning-700: #B45309;
  --lfx-color-warning-600: #D97706;
  --lfx-color-warning-500: #F59E0B;
  --lfx-color-warning-400: #FBBF24;
  --lfx-color-warning-300: #FCD34D;
  --lfx-color-warning-200: #FDE68A;
  --lfx-color-warning-100: #FEF3C7;
  --lfx-color-warning-50: #FFFBEB;
}
