ORIGIN_URL=http://localhost:4000
PAT_HASH_SALT=local-pat-hash-salt
LFX_API_URL=
M2M_ISSUER_URL=
M2M_AUDIENCE=
M2M_CLIENT_ID=
M2M_PRIVATE_KEY=
LD_SDK_KEY=
LD_FLAG_URL=
STUB_PAT=lfi_test
STUB_USERNAME=
