apiVersion: v1
kind: Service
metadata:
  name: redis-svc
  namespace: insights
  labels:
    app.kubernetes.io/name: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
