.c-modal{
  background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.25));
  @apply fixed top-0 left-0 w-full h-full z-50 visible opacity-100 flex flex-wrap justify-center items-start p-12 pt-25 px-10;

  &__content{
    @apply w-full bg-white shadow-xl border border-neutral-200 rounded-xl max-h-full overflow-auto;
  }
}
