name: Lint & Format & Typescript Check

on:
  pull_request:
    paths:
      - 'frontend/**'

jobs:
  lint-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Lint code
        run: pnpm i --ignore-workspace && format:check && pnpm lint && pnpm tsc-check
        working-directory: frontend
