name: Production Deploy

on:
  workflow_dispatch:

env:
  CLOUD_ENV: lf-oracle-production
  ORACLE_DOCKER_USERNAME: ${{ secrets.ORACLE_DOCKER_USERNAME }}
  ORACLE_DOCKER_PASSWORD: ${{ secrets.ORACLE_DOCKER_PASSWORD }}
  ORACLE_USER: ${{ secrets.ORACLE_USER }}
  ORACLE_TENANT: ${{ secrets.ORACLE_TENANT }}
  ORACLE_REGION: ${{ secrets.ORACLE_REGION }}
  ORACLE_FINGERPRINT: ${{ secrets.ORACLE_FINGERPRINT }}
  ORACLE_KEY: ${{ secrets.ORACLE_KEY }}
  ORACLE_KEY_PASSPHRASE: ${{ secrets.ORACLE_KEY_PASSPHRASE }}
  ORACLE_CLUSTER: ${{ secrets.ORACLE_PRODUCTION_CLUSTER }}
  KUBECONFIG_PATH: /home/runner/.kube/config

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install and configure OCI CLI
        uses: oracle-actions/configure-kubectl-oke@v1.5.1
        id: oke-kubeconfig
        with:
          cluster: ${{ env.ORACLE_CLUSTER }}
          region: ${{ env.ORACLE_REGION }}
          tenancy: ${{ env.ORACLE_TENANT }}
          user: ${{ env.ORACLE_USER }}
          fingerprint: ${{ env.ORACLE_FINGERPRINT }}
          private_key: ${{ env.ORACLE_KEY }}
          passphrase: ${{ env.ORACLE_KEY_PASSPHRASE }}

      - name: Load all envs from ConfigMap
        run: |
          kubectl get configmap insights-config-map -n insights -o json \
          | jq -r '.data | to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV

      - name: Build docker image
        uses: ./.github/actions/build-docker-image
        id: build-docker-image
        with:
          app-env: production
        env:
          NUXT_REDIS_URL: ${{ env.NUXT_REDIS_URL }}

      - name: Update Deployment Image
        run: |
          kubectl set image deployment/insights-app-dpl frontend=${{ steps.build-docker-image.outputs.image }} -n insights
          kubectl rollout status deployment/insights-app-dpl -n insights --timeout=300s

      - name: Flush Redis cache
        run: |
          REDIS_URL=$(kubectl get configmap insights-config-map -n insights -o jsonpath="{.data.NUXT_REDIS_URL}")
          PASSWORD=$(echo "$REDIS_URL" | sed -n 's|.*://:\([^@]*\)@.*|\1|p')
          kubectl exec -i redis-client -n insights -- \
            redis-cli -h redis-svc -a "$PASSWORD" FLUSHALL